<div class="row" style="display: flex;justify-content:space-between">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
   <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


</div>
<br>
<div class="row" style="display: flex;justify-content:space-between">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
    
  </mat-card>
</div>
<br>
<div class="row" style="display: flex;justify-content:space-between">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
   </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
   </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:t</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle> 
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
   </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Title</mat-card-subtitle>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <mat-card-subtitle>Actors:</mat-card-subtitle>
      <mat-card-subtitle>Director:</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<br>
